:root {
  --light-blue: lightblue;
  --dark-grey: darkgrey;
  --white: white;
  --black: black;
  --primary: var(--white);
  --secondary: var(--light-blue);

  --h1: 6.594rem;
  --h2: 4.063rem;
}
.Dark{
  --primary: var(--black);
  --secondary: var(--dark-grey);
  
}
.Light{
  --primary: var(--white);
  --secondary: var(--light-blue);
}
.heading {
  background-color: var(--primary);
}
body {
  background-color: var(--secondary);
}
h1 {
  font-size: var(--h1);
  text-align: center;
}
h2 {
  font-size: var(--h2);
  text-align: center;
}
.section-title {
  font-size: var(--h1);
}
.Cardimg {
  width: 20%;
  height: 40%;
}
#CardBox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.MealCard {
  width: 30%;
  text-align: center;
  align-items: center;
  background-color: azure;
  margin-bottom: 2%;
  margin-left: 1%;
}
.ThemeSelector {
  text-align: right;
}