:root {
  --light-blue: lightblue;
  --dark-grey: darkgrey;
  --white: white;
  --black: black;
  --antiquewhite: antiquewhite;
  --navy: navy;
  --dark-green: #011B10;
  --zuccini: #133A1B;
  --green-mist: #B7BF96;
  --tusk: #E4DEAE;
  --primary: var(--white);
  --secondary: var(--light-blue);
  --third: var(--antiquewhite);
  --fourth: var(--black);

  --h1: 6.594rem;
  --h2: 4.063rem;
  --h3: 2rem;
  --h4: 1.555rem;
}
.Dark{
  --primary: var(--black);
  --secondary: var(--dark-grey);
  --third: var(--navy);
  --fourth: var(--antiquewhite)
}
.Light{
  --primary: var(--white);
  --secondary: var(--light-blue);
  --third: var(--antiquewhite);
  --fourth: var(--black)
}
.Green {
  --primary: var(--dark-green);
  --secondary: var(--green-mist);
  --third: var(--zuccini);
  --fourth: var(--tusk);
}
.heading {
  background-color: var(--primary);
  color: var(--fourth);
  font-family: 'Caveat', cursive;
}
body {
  background-color: var(--secondary);
}
h1 {
  font-size: var(--h1);
  text-align: center;
}
h2 {
  font-size: var(--h2);
  text-align: center;
}
.Cardimg {
  width: 40%;
  height: 40%;
}
#CardBox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.MealCard {
  width: 30%;
  text-align: center;
  align-items: center;
  margin-bottom: 2%;
  margin-left: 1%;
  background-color: var(--third);
  font-size: var(--h3);
  padding-bottom: 5%;
  border-radius: 1cm;
  color: var(--fourth);
}
.ThemeSelector {
  text-align: right;
}
.btns {
  text-align: center;
  margin-bottom: 5%;
}
#menubtn {
  background-color: var(--third);
  color: var(--fourth);
  font-size: var(--h4);
}
#vegiebtn {
  background-color: var(--third);
  color: var(--fourth);
  font-size: var(--h4);
}
#cheapbtn {
  background-color: var(--third);
  color: var(--fourth);
  font-size: var(--h4);
}
#instockbtn {
  background-color: var(--third);
  color: var(--fourth);
  font-size: var(--h4);
}